In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('ptrain.csv', parse_dates=['date'])
train

       kind       date    amount  mode_price      area  year  weekno
0      だいこん 2005-11-07  201445.0       735.0        千葉  2005      45
1      だいこん 2005-11-08  189660.0       840.0  千葉_全国_青森  2005      45
2      だいこん 2005-11-10  218166.0       735.0  千葉_全国_青森  2005      45
3      だいこん 2005-11-11  182624.0       682.5     千葉_青森  2005      45
4      だいこん 2005-11-12  220691.0       682.5     千葉_青森  2005      45
...     ...        ...       ...         ...       ...   ...     ...
77746   しめじ 2017-05-26   17231.0        48.5     新潟_長野  2017      21
77747   しめじ 2017-05-27   17105.0        48.5     新潟_長野  2017      21
77748   しめじ 2017-05-29   12406.0        48.5     新潟_長野  2017      22
77749   しめじ 2017-05-30   12320.0        48.5     新潟_長野  2017      22
77750   しめじ 2017-05-31   11635.0        43.0     新潟_長野  2017      22

[77751 rows x 7 columns]

In [3]:
weather = pd.read_csv('pweather.csv')
weather

,year,month,mean_mean_temp,max_mean_temp,min_mean_temp,mean_max_temp,max_max_temp,min_max_temp,mean_min_temp,max_min_temp,...,mean_sum_rain,max_sum_rain,min_sum_rain,mean_sun_time,max_sun_time,min_sun_time,mean_mean_humid,max_mean_humid,min_mean_humid,area
0,2004.0,11.0,14.596000,19.30,9.60,18.340000,22.20,12.40,11.228000,17.40,...,5.840000,87.00,0.0,5.084000,9.50,0.0,71.760000,93.0,43.0,千葉
1,2004.0,12.0,9.641935,19.00,2.20,13.564516,24.30,3.80,6.138710,11.50,...,2.435484,26.00,0.0,5.509677,9.40,0.0,58.612903,86.0,37.0,千葉
2,2005.0,1.0,6.277419,13.10,3.10,10.461290,17.20,5.20,2.522581,6.40,...,3.338710,66.50,0.0,6.612903,9.80,0.0,54.838710,89.0,32.0,千葉
3,2005.0,2.0,5.960714,12.00,3.30,9.864286,15.40,5.10,2.060714,4.60,...,1.910714,11.50,0.0,5.225000,9.70,0.0,55.714286,93.0,31.0,千葉
4,2005.0,3.0,8.800000,13.70,1.60,13.122581,18.40,3.60,4.596774,10.00,...,2.612903,22.50,0.0,5.529032,11.30,0.0,59.129032,91.0,31.0,千葉
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46867,2022.0,6.0,21.523333,28.70,16.05,26.713333,34.60,18.40,17.646667,24.50,...,4.183333,61.00,0.0,6.455000,13.35,0.0,73.783333,87.5,56.5,新潟_長野
46868,2022.0,7.0,26.151563,29.10,23.70,31.015625,35.40,26.40,22.543750,24.60,...,5.726562,61.50,0.0,7.187500,13.75,0.0,77.640625,91.5,64.0,新潟_長野
46869,2022.0,8.0,26.235937,29.55,21.10,30.957812,35.45,24.75,22.604688,25.45,...,6.609375,38.75,0.0,5.126563,11.90,0.0,78.031250,91.0,67.0,新潟_長野
46870,2022.0,9.0,23.167742,29.40,16.90,27.770968,34.40,20.60,19.619355,25.70,...,6.427419,50.25,0.0,5.600000,11.90,0.0,76.951613,95.0,59.0,新潟_長野
46871,2022.0,10.0,14.839063,22.50,9.35,19.965625,28.95,13.05,10.446875,17.80,...,2.281250,19.75,0.0,4.645313,10.90,0.0,77.593750,92.0,65.0,新潟_長野

In [4]:
test = pd.read_csv('ptest.csv', parse_dates=['date'])
test

      kind       date  amount  mode_price      area  year  weekno
0     だいこん 2022-11-01     NaN         NaN  千葉_全国_横浜  2022      44
1     だいこん 2022-11-02     NaN         NaN  千葉_全国_横浜  2022      44
2     だいこん 2022-11-04     NaN         NaN  千葉_全国_横浜  2022      44
3     だいこん 2022-11-05     NaN         NaN  千葉_全国_横浜  2022      44
4     だいこん 2022-11-07     NaN         NaN  千葉_全国_横浜  2022      45
..     ...        ...     ...         ...       ...   ...     ...
310  ミニトマト 2022-11-24     NaN         NaN    全国_名古屋  2022      47
311  ミニトマト 2022-11-25     NaN         NaN    全国_名古屋  2022      47
312  ミニトマト 2022-11-26     NaN         NaN    全国_名古屋  2022      47
313  ミニトマト 2022-11-28     NaN         NaN    全国_名古屋  2022      48
314  ミニトマト 2022-11-29     NaN         NaN    全国_名古屋  2022      48

[315 rows x 7 columns]

In [5]:
train['month'] = train.date.dt.month
test['month'] = test.date.dt.month

In [6]:
from copy import copy

for i in [0, 1, 2, 3, 6, 9, 12]:
    cweather = copy(weather)
    cweather.month += 1
    cweather.loc[lambda x: x.month==13] = 1
    cweather.columns = [f'{c}_lag{i}' for c in cweather.columns]
    cweather = cweather.rename(columns={f'year_lag{i}': 'year', f'month_lag{i}': 'month', f'area_lag{i}': 'area'})
    train = train.merge(cweather, how='left', on=['year', 'month', 'area'])
    test = test.merge(cweather, how='left', on=['year', 'month', 'area'])
train.columns

Index(['kind', 'date', 'amount', 'mode_price', 'area', 'year', 'weekno',
       'month', 'mean_mean_temp_lag0', 'max_mean_temp_lag0',
       ...
       'min_min_temp_lag12', 'mean_sum_rain_lag12', 'max_sum_rain_lag12',
       'min_sum_rain_lag12', 'mean_sun_time_lag12', 'max_sun_time_lag12',
       'min_sun_time_lag12', 'mean_mean_humid_lag12', 'max_mean_humid_lag12',
       'min_mean_humid_lag12'],
      dtype='object', length=134)

In [7]:
train.date.min(), train.date.max()

(Timestamp('2005-11-07 00:00:00'), Timestamp('2022-10-31 00:00:00'))

In [8]:
test.date.min(), test.date.max()

(Timestamp('2022-11-01 00:00:00'), Timestamp('2022-11-29 00:00:00'))

In [9]:
mode_price_30days_ago = train[['kind', 'date', 'mode_price']].rename(columns={'mode_price': 'mode_price_30days_ago'})
mode_price_30days_ago.date += pd.Timedelta(days=30)
mode_price_30days_ago.date.max(), mode_price_30days_ago.columns

(Timestamp('2022-11-30 00:00:00'),
 Index(['kind', 'date', 'mode_price_30days_ago'], dtype='object'))

In [10]:
mode_price_30days_ago['year'] = mode_price_30days_ago.date.dt.year
mode_price_30days_ago['month'] = mode_price_30days_ago.date.dt.month
mode_price_30days_ago = mode_price_30days_ago.groupby(['kind', 'year', 'month']).mean().reset_index()

In [11]:
train = train.merge(mode_price_30days_ago, how='left', on=['kind', 'year', 'month'])
train

,kind,date,amount,mode_price,area,year,weekno,month,mean_mean_temp_lag0,max_mean_temp_lag0,...,mean_sum_rain_lag12,max_sum_rain_lag12,min_sum_rain_lag12,mean_sun_time_lag12,max_sun_time_lag12,min_sun_time_lag12,mean_mean_humid_lag12,max_mean_humid_lag12,min_mean_humid_lag12,mode_price_30days_ago
0,だいこん,2005-11-07,201445.0,735.0,千葉,2005,45,11,18.838710,24.70000,...,5.919355,27.500000,0.0,3.577419,11.100000,0.0,79.064516,92.000000,60.000000,NaN
1,だいこん,2005-11-08,189660.0,840.0,千葉_全国_青森,2005,45,11,17.103797,22.54375,...,4.375840,28.286458,0.0,4.408501,10.761458,0.0,74.557796,90.895833,57.635417,NaN
2,だいこん,2005-11-10,218166.0,735.0,千葉_全国_青森,2005,45,11,17.103797,22.54375,...,4.375840,28.286458,0.0,4.408501,10.761458,0.0,74.557796,90.895833,57.635417,NaN
3,だいこん,2005-11-11,182624.0,682.5,千葉_青森,2005,45,11,16.454839,21.85000,...,4.790323,27.750000,0.0,4.316129,10.900000,0.0,76.322581,92.000000,60.000000,NaN
4,だいこん,2005-11-12,220691.0,682.5,千葉_青森,2005,45,11,16.454839,21.85000,...,4.790323,27.750000,0.0,4.316129,10.900000,0.0,76.322581,92.000000,60.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77746,しめじ,2017-05-26,17231.0,48.5,新潟_長野,2017,21,5,11.236667,16.90000,...,2.416667,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5
77747,しめじ,2017-05-27,17105.0,48.5,新潟_長野,2017,21,5,11.236667,16.90000,...,2.416667,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5
77748,しめじ,2017-05-29,12406.0,48.5,新潟_長野,2017,22,5,11.236667,16.90000,...,2.416667,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5
77749,しめじ,2017-05-30,12320.0,48.5,新潟_長野,2017,22,5,11.236667,16.90000,...,2.416667,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5
77750,しめじ,2017-05-31,11635.0,43.0,新潟_長野,2017,22,5,11.236667,16.90000,...,2.416667,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5

In [12]:
test = test.merge(mode_price_30days_ago, how='left', on=['kind', 'year', 'month'])
test

,kind,date,amount,mode_price,area,year,weekno,month,mean_mean_temp_lag0,max_mean_temp_lag0,...,mean_sum_rain_lag12,max_sum_rain_lag12,min_sum_rain_lag12,mean_sun_time_lag12,max_sun_time_lag12,min_sun_time_lag12,mean_mean_humid_lag12,max_mean_humid_lag12,min_mean_humid_lag12,mode_price_30days_ago
0,だいこん,2022-11-01,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,3.148763,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143
1,だいこん,2022-11-02,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,3.148763,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143
2,だいこん,2022-11-04,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,3.148763,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143
3,だいこん,2022-11-05,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,3.148763,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143
4,だいこん,2022-11-07,NaN,NaN,千葉_全国_横浜,2022,45,11,17.937923,24.811458,...,3.148763,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,ミニトマト,2022-11-24,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,2.082520,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524
311,ミニトマト,2022-11-25,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,2.082520,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524
312,ミニトマト,2022-11-26,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,2.082520,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524
313,ミニトマト,2022-11-28,NaN,NaN,全国_名古屋,2022,48,11,18.239697,24.617188,...,2.082520,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524
314,ミニトマト,2022-11-29,NaN,NaN,全国_名古屋,2022,48,11,18.239697,24.617188,...,2.082520,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524

In [13]:
mode_price_365days_ago = train[['kind', 'date', 'mode_price']].rename(columns={'mode_price': 'mode_price_365days_ago'})
mode_price_365days_ago.date += pd.Timedelta(days=365)
mode_price_365days_ago.date.max(), mode_price_365days_ago.columns

(Timestamp('2023-10-31 00:00:00'),
 Index(['kind', 'date', 'mode_price_365days_ago'], dtype='object'))

In [14]:
mode_price_365days_ago['year'] = mode_price_365days_ago.date.dt.year
mode_price_365days_ago['month'] = mode_price_365days_ago.date.dt.month
mode_price_365days_ago = mode_price_365days_ago.groupby(['kind', 'year', 'month']).mean().reset_index()

In [15]:
train = train.merge(mode_price_365days_ago, how='left', on=['kind', 'year', 'month'])
train

,kind,date,amount,mode_price,area,year,weekno,month,mean_mean_temp_lag0,max_mean_temp_lag0,...,max_sum_rain_lag12,min_sum_rain_lag12,mean_sun_time_lag12,max_sun_time_lag12,min_sun_time_lag12,mean_mean_humid_lag12,max_mean_humid_lag12,min_mean_humid_lag12,mode_price_30days_ago,mode_price_365days_ago
0,だいこん,2005-11-07,201445.0,735.0,千葉,2005,45,11,18.838710,24.70000,...,27.500000,0.0,3.577419,11.100000,0.0,79.064516,92.000000,60.000000,NaN,NaN
1,だいこん,2005-11-08,189660.0,840.0,千葉_全国_青森,2005,45,11,17.103797,22.54375,...,28.286458,0.0,4.408501,10.761458,0.0,74.557796,90.895833,57.635417,NaN,NaN
2,だいこん,2005-11-10,218166.0,735.0,千葉_全国_青森,2005,45,11,17.103797,22.54375,...,28.286458,0.0,4.408501,10.761458,0.0,74.557796,90.895833,57.635417,NaN,NaN
3,だいこん,2005-11-11,182624.0,682.5,千葉_青森,2005,45,11,16.454839,21.85000,...,27.750000,0.0,4.316129,10.900000,0.0,76.322581,92.000000,60.000000,NaN,NaN
4,だいこん,2005-11-12,220691.0,682.5,千葉_青森,2005,45,11,16.454839,21.85000,...,27.750000,0.0,4.316129,10.900000,0.0,76.322581,92.000000,60.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77746,しめじ,2017-05-26,17231.0,48.5,新潟_長野,2017,21,5,11.236667,16.90000,...,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5,NaN
77747,しめじ,2017-05-27,17105.0,48.5,新潟_長野,2017,21,5,11.236667,16.90000,...,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5,NaN
77748,しめじ,2017-05-29,12406.0,48.5,新潟_長野,2017,22,5,11.236667,16.90000,...,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5,NaN
77749,しめじ,2017-05-30,12320.0,48.5,新潟_長野,2017,22,5,11.236667,16.90000,...,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5,NaN
77750,しめじ,2017-05-31,11635.0,43.0,新潟_長野,2017,22,5,11.236667,16.90000,...,20.750000,0.0,6.668333,12.600000,0.0,65.033333,86.500000,47.000000,46.5,NaN

In [16]:
test = test.merge(mode_price_365days_ago, how='left', on=['kind', 'year', 'month'])
test

,kind,date,amount,mode_price,area,year,weekno,month,mean_mean_temp_lag0,max_mean_temp_lag0,...,max_sum_rain_lag12,min_sum_rain_lag12,mean_sun_time_lag12,max_sun_time_lag12,min_sun_time_lag12,mean_mean_humid_lag12,max_mean_humid_lag12,min_mean_humid_lag12,mode_price_30days_ago,mode_price_365days_ago
0,だいこん,2022-11-01,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000
1,だいこん,2022-11-02,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000
2,だいこん,2022-11-04,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000
3,だいこん,2022-11-05,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000
4,だいこん,2022-11-07,NaN,NaN,千葉_全国_横浜,2022,45,11,17.937923,24.811458,...,49.880208,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,ミニトマト,2022-11-24,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182
311,ミニトマト,2022-11-25,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182
312,ミニトマト,2022-11-26,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182
313,ミニトマト,2022-11-28,NaN,NaN,全国_名古屋,2022,48,11,18.239697,24.617188,...,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182
314,ミニトマト,2022-11-29,NaN,NaN,全国_名古屋,2022,48,11,18.239697,24.617188,...,29.570312,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182

In [17]:
train = train[lambda x: x.date >= '2015-06-01']
#train = train[lambda x: x.date >= '2016-05-01']
train

,kind,date,amount,mode_price,area,year,weekno,month,mean_mean_temp_lag0,max_mean_temp_lag0,...,max_sum_rain_lag12,min_sum_rain_lag12,mean_sun_time_lag12,max_sun_time_lag12,min_sun_time_lag12,mean_mean_humid_lag12,max_mean_humid_lag12,min_mean_humid_lag12,mode_price_30days_ago,mode_price_365days_ago
2585,だいこん,2015-06-01,175714.0,864.0,千葉_青森,2015,23,6,18.050000,22.900000,...,28.750000,0.0,7.938710,13.150000,0.000000,65.516129,86.500000,42.500000,1141.714286,826.071429
2586,だいこん,2015-06-02,167112.0,756.0,千葉_青森,2015,23,6,18.050000,22.900000,...,28.750000,0.0,7.938710,13.150000,0.000000,65.516129,86.500000,42.500000,1141.714286,826.071429
2587,だいこん,2015-06-04,202752.0,891.0,千葉_青森,2015,23,6,18.050000,22.900000,...,28.750000,0.0,7.938710,13.150000,0.000000,65.516129,86.500000,42.500000,1141.714286,826.071429
2588,だいこん,2015-06-05,142763.0,648.0,千葉_全国_青森,2015,23,6,18.660450,23.346875,...,31.557292,0.0,7.853044,13.155208,0.007292,64.958333,86.947917,42.270833,1141.714286,826.071429
2589,だいこん,2015-06-06,174205.0,810.0,千葉_青森,2015,23,6,18.050000,22.900000,...,28.750000,0.0,7.938710,13.150000,0.000000,65.516129,86.500000,42.500000,1141.714286,826.071429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77746,しめじ,2017-05-26,17231.0,48.5,新潟_長野,2017,21,5,11.236667,16.900000,...,20.750000,0.0,6.668333,12.600000,0.000000,65.033333,86.500000,47.000000,46.500000,NaN
77747,しめじ,2017-05-27,17105.0,48.5,新潟_長野,2017,21,5,11.236667,16.900000,...,20.750000,0.0,6.668333,12.600000,0.000000,65.033333,86.500000,47.000000,46.500000,NaN
77748,しめじ,2017-05-29,12406.0,48.5,新潟_長野,2017,22,5,11.236667,16.900000,...,20.750000,0.0,6.668333,12.600000,0.000000,65.033333,86.500000,47.000000,46.500000,NaN
77749,しめじ,2017-05-30,12320.0,48.5,新潟_長野,2017,22,5,11.236667,16.900000,...,20.750000,0.0,6.668333,12.600000,0.000000,65.033333,86.500000,47.000000,46.500000,NaN
77750,しめじ,2017-05-31,11635.0,43.0,新潟_長野,2017,22,5,11.236667,16.900000,...,20.750000,0.0,6.668333,12.600000,0.000000,65.033333,86.500000,47.000000,46.500000,NaN

In [18]:
test.month.unique()

array([11], dtype=int64)

In [19]:
#train = train[lambda x: x.month>=10]
#train

In [20]:
train.groupby(['kind', 'area']).agg(['min', 'max'])

                    date               amount           mode_price          \
                     min        max       min       max        min     max
kind area
いんげん 全国_福島    2015-07-30 2021-07-28    3607.0   12454.0     1080.0  2646.0
     全国_福島_前橋 2017-08-01 2022-08-30    2777.0   18953.0     1080.0  2484.0
     全国_福島_水戸 2015-07-01 2022-07-30    2600.0   20820.0      972.0  2700.0
     全国_福島_青森 2015-08-01 2021-08-31    1956.0   18010.0      756.0  3348.0
     千葉_全国    2016-05-02 2022-06-03    2969.0   13426.0     1566.0  2970.0
...                  ...        ...       ...       ...        ...     ...
レタス  神戸_全国_水戸 2015-11-02 2022-04-30   52441.0  213616.0      756.0  6480.0
     神戸_全国_浜松 2015-12-01 2022-01-31   45203.0  275684.0      648.0  7776.0
     神戸_水戸    2015-11-13 2022-04-02   77986.0  174007.0      432.0  5832.0
     神戸_浜松    2018-01-20 2021-12-29   88846.0  179953.0     1188.0  4644.0
     長野       2015-06-23 2020-06-19  120077.0  268817.0      864.0  1620.0

               year       weekno      ... mean_mean_humid_lag12             \
                min   max    min max  ...                   min        max
kind area                             ...
いんげん 全国_福島     2015  2021     27  35  ...             69.155729  76.363542
     全国_福島_前橋  2017  2022     27  35  ...             72.932796  77.541016
     全国_福島_水戸  2015  2022     26  31  ...             71.126042  76.316667
     全国_福島_青森  2015  2021     31  36  ...             76.438844  85.424059
     千葉_全国     2016  2022     17  25  ...             58.888021  70.306015
...             ...   ...    ...  ..  ...                   ...        ...
レタス  神戸_全国_水戸  2015  2022      9  49  ...             57.303571  78.007392
     神戸_全国_浜松  2015  2022      1  53  ...             58.952957  71.931944
     神戸_水戸     2015  2022     11  49  ...             55.035714  78.225806
     神戸_浜松     2018  2021      1  52  ...             57.096774  61.016667
     長野        2015  2020     20  32  ...             56.096774  71.741935

              max_mean_humid_lag12            min_mean_humid_lag12             \
                               min        max                  min        max
kind area
いんげん 全国_福島               91.078125  95.671875            46.890625  61.203125
     全国_福島_前橋            92.750000  96.114583            53.260417  60.125000
     全国_福島_水戸            91.718750  95.052083            44.895833  62.302083
     全国_福島_青森            92.864583  96.854167            55.927083  70.802083
     千葉_全国               89.437500  95.093750            33.875000  49.921875
...                            ...        ...                  ...        ...
レタス  神戸_全国_水戸            80.916667  95.125000            34.302083  54.208333
     神戸_全国_浜松            77.343750  94.156250            46.479167  50.593750
     神戸_水戸               78.500000  94.500000            31.500000  54.000000
     神戸_浜松               74.500000  80.500000            45.500000  47.500000
     長野                  79.000000  98.000000            41.000000  58.000000

              mode_price_30days_ago              mode_price_365days_ago  \
                                min          max                    min
kind area
いんげん 全国_福島              1601.217391  1910.250000            1242.000000
     全国_福島_前橋           1723.304348  1910.250000            1242.000000
     全国_福島_水戸           1541.454545  2110.909091            1361.739130
     全国_福島_青森           1350.000000  2155.304348            2028.521739
     千葉_全国              1827.900000  3000.000000            1806.545455
...                             ...          ...                    ...
レタス  神戸_全国_水戸           1063.285714  4106.571429            1015.714286
     神戸_全国_浜松            999.000000  5578.434783            1419.428571
     神戸_水戸              1170.818182  4106.571429            1065.272727
     神戸_浜松              1281.272727  5578.434783            1419.428571
     長野                 1084.695652  1865.454545             894.857143


                       max
kind area
いんげん 全国_福島     2164.909091
     全国_福島_前橋  1949.400000
     全国_福島_水戸  2164.909091
     全国_福島_青森  2349.000000
     千葉_全国     2147.142857
...                    ...
レタス  神戸_全国_水戸  2582.608696
     神戸_全国_浜松  4661.052632
     神戸_水戸     2535.545455
     神戸_浜松     4661.052632
     長野        1556.181818

[294 rows x 268 columns]

In [21]:
from sklearn.model_selection import KFold

n_splits = 5
kf = KFold(n_splits=n_splits)

In [22]:
for i, (train_index, test_index) in enumerate(kf.split(train)):
    print(i, train_index, test_index)

0 [ 6763  6764  6765 ... 33809 33810 33811] [   0    1    2 ... 6760 6761 6762]
1 [    0     1     2 ... 33809 33810 33811] [ 6763  6764  6765 ... 13523 13524 13525]
2 [    0     1     2 ... 33809 33810 33811] [13526 13527 13528 ... 20285 20286 20287]
3 [    0     1     2 ... 33809 33810 33811] [20288 20289 20290 ... 27047 27048 27049]
4 [    0     1     2 ... 27047 27048 27049] [27050 27051 27052 ... 33809 33810 33811]

In [23]:
train['fold'] = -1
train_fold = []
for kind in test.kind.unique():
    train_kind = train[lambda x: x.kind==kind]
    for i, (_, test_index) in enumerate(kf.split(train_kind)):
        train_kind.iloc[test_index, -1] = i
        train_fold.append(train_kind)
train_fold = pd.concat(train_fold, axis=0)

<ipython-input-23-a444b3910fb4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['fold'] = -1
C:\Users\n-kawai\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [24]:
train_fold.groupby(['kind', 'fold']).count()

           date  amount  mode_price  area  year  weekno  month  \
kind fold
かぼちゃ 0     1635    1635        1635  1635  1635    1635   1635
     1     1635    1635        1635  1635  1635    1635   1635
     2     1635    1635        1635  1635  1635    1635   1635
     3     1635    1635        1635  1635  1635    1635   1635
     4     1630    1630        1630  1630  1630    1630   1630
...         ...     ...         ...   ...   ...     ...    ...
レタス  0     1920    1920        1920  1920  1920    1920   1920
     1     1920    1920        1920  1920  1920    1920   1920
     2     1915    1915        1915  1915  1915    1915   1915
     3     1915    1915        1915  1915  1915    1915   1915
     4     1915    1915        1915  1915  1915    1915   1915

           mean_mean_temp_lag0  max_mean_temp_lag0  min_mean_temp_lag0  ...  \
kind fold                                                               ...
かぼちゃ 0                    1635                1635                1635  ...
     1                    1635                1635                1635  ...
     2                    1635                1635                1635  ...
     3                    1635                1635                1635  ...
     4                    1630                1630                1630  ...
...                        ...                 ...                 ...  ...
レタス  0                    1820                1820                1820  ...
     1                    1725                1725                1725  ...
     2                    1820                1820                1820  ...
     3                    1725                1725                1725  ...
     4                    1815                1815                1815  ...

           max_sum_rain_lag12  min_sum_rain_lag12  mean_sun_time_lag12  \
kind fold
かぼちゃ 0                   1635                1635                 1635
     1                   1635                1635                 1635
     2                   1635                1635                 1635
     3                   1635                1635                 1635
     4                   1630                1630                 1630
...                       ...                 ...                  ...
レタス  0                   1820                1820                 1820
     1                   1725                1725                 1725
     2                   1820                1820                 1820
     3                   1725                1725                 1725
     4                   1815                1815                 1815

           max_sun_time_lag12  min_sun_time_lag12  mean_mean_humid_lag12  \
kind fold
かぼちゃ 0                   1635                1635                   1635
     1                   1635                1635                   1635
     2                   1635                1635                   1635
     3                   1635                1635                   1635
     4                   1630                1630                   1630
...                       ...                 ...                    ...
レタス  0                   1820                1820                   1820
     1                   1725                1725                   1725
     2                   1820                1820                   1820
     3                   1725                1725                   1725
     4                   1815                1815                   1815

           max_mean_humid_lag12  min_mean_humid_lag12  mode_price_30days_ago  \
kind fold
かぼちゃ 0                     1635                  1635                   1635
     1                     1635                  1635                   1635
     2                     1635                  1635                   1635
     3                     1635                  1635                   1525
     4                     1630                  1630                   1630
...                         ...                   ...                    ...
レタス  0                     1820                  1820                   1920
     1                     1725                  1725                   1920
     2                     1820                  1820                   1915
     3                     1725                  1725                   1915
     4                     1815                  1815                   1915

           mode_price_365days_ago
kind fold
かぼちゃ 0                       1635
     1                       1635
     2                       1635
     3                       1635
     4                       1630
...                           ...
レタス  0                       1920
     1                       1920
     2                       1915
     3                       1915
     4                       1915

[75 rows x 135 columns]

In [25]:
train_fold.groupby(['fold']).count()

,kind,date,amount,mode_price,area,year,weekno,month,mean_mean_temp_lag0,max_mean_temp_lag0,...,max_sum_rain_lag12,min_sum_rain_lag12,mean_sun_time_lag12,max_sun_time_lag12,min_sun_time_lag12,mean_mean_humid_lag12,max_mean_humid_lag12,min_mean_humid_lag12,mode_price_30days_ago,mode_price_365days_ago
fold,,,,,,,,,,,,,,,,,,,,,
0,27115,27115,27115,27115,27115,27115,27115,27115,25715,25715,...,25715,25715,25715,25715,25715,25715,25715,25715,26710,25995
1,27115,27115,27115,27115,27115,27115,27115,27115,24385,24385,...,24385,24385,24385,24385,24385,24385,24385,24385,26935,27115
2,27060,27060,27060,27060,27060,27060,27060,27060,25730,25730,...,25730,25730,25730,25730,25730,25730,25730,25730,26690,27060
3,27060,27060,27060,27060,27060,27060,27060,27060,24400,24400,...,24400,24400,24400,24400,24400,24400,24400,24400,26775,27060
4,27055,27055,27055,27055,27055,27055,27055,27055,25655,25655,...,25655,25655,25655,25655,25655,25655,25655,25655,26680,27055

In [26]:
area = pd.concat([train_fold.area, test.area]).unique()
area

array(['千葉_青森', '千葉_全国_青森', '全国_青森', '帯広_全国_青森', '帯広_青森', '千葉', '千葉_全国',
       '千葉_横浜', '千葉_全国_横浜', '千葉_全国_水戸', '千葉_水戸', '帯広', '帯広_全国',
       '千葉_全国_熊谷', '千葉_熊谷', '帯広_千葉', '帯広_千葉_全国', '千葉_全国_徳島', '千葉_徳島',
       '全国_徳島', '全国_徳島_浜松', '徳島_浜松', '徳島', '盛岡_前橋', '全国_盛岡_前橋',
       '千葉_全国_前橋', '全国_前橋', '千葉_全国_名古屋', '全国_名古屋_横浜', '千葉_名古屋',
       '全国_前橋_水戸', '全国_前橋_長野', '前橋_長野', '長野', '全国_水戸_長野', '全国_水戸',
       '神戸_全国_水戸', '水戸', '神戸_水戸', '神戸_全国_浜松', '全国_浜松', '浜松', '全国_浜松_高松',
       '全国_水戸_浜松', '水戸_長野', '全国_長野', '神戸_浜松', '全国_水戸_長崎', '前橋_水戸',
       '神戸_全国', '宇都宮_前橋', '前橋', '全国_宇都宮_前橋', '千葉_前橋', '全国_水戸_青森', '水戸_青森',
       '全国_秋田_青森', '秋田_青森', '全国_秋田_水戸', '全国_熊谷_前橋', '全国_盛岡_福島', '全国_福島',
       '全国_熊谷_福島', '全国_熊谷_宮崎', '千葉_全国_宮崎', '全国_宮崎_高知', '全国_宮崎_前橋',
       '全国_熊谷', '全国_福島_前橋', '全国_全国_鹿児島', '全国_鹿児島', '全国_横浜_水戸', '帯広_全国_水戸',
       '全国_帯広_全国', '全国_全国', '全国', '全国_那覇', '全国_全国_那覇', '全国_全国_全国', '横浜',
       '横浜_水戸', '全国_帯広', '全国_横浜', '全国_水戸_鹿児島', '帯広_水戸', '全国_全国_水戸',
       '全国_宇都宮_水戸', '全国_福島_青森', '千葉_全国_熊本', '全国_名古屋_熊本', '全国_宇都宮_熊本',
       '千葉_全国_宇都宮', '千葉_全国_福島', '全国_宇都宮', '帯広_全国_福島', '水戸_高知', '全国_盛岡_水戸',
       '全国_盛岡', '盛岡_水戸', '全国_高知', '高知', '全国_水戸_高知', '熊谷', '全国_熊谷_松山',
       '熊谷_松山', '佐賀_神戸', '佐賀_神戸_全国', '神戸_帯広_全国', '佐賀_帯広', '佐賀_全国', '佐賀',
       '神戸', '神戸_帯広', '佐賀_帯広_全国', '全国_盛岡_秋田', '盛岡_秋田', '帯広_全国_盛岡',
       '全国_盛岡_宇都宮', '全国_宇都宮_秋田', '千葉_全国_盛岡', '千葉_全国_秋田', '全国_秋田',
       '全国_名古屋', '名古屋', '青森'], dtype=object)

In [27]:
import numpy as np

splited_area = []
for a in area:
    splited_area += a.split('_')
splited_area = np.unique(splited_area)
splited_area

array(['佐賀', '全国', '前橋', '千葉', '名古屋', '宇都宮', '宮崎', '帯広', '徳島', '松山', '横浜',
       '水戸', '浜松', '熊本', '熊谷', '盛岡', '神戸', '福島', '秋田', '那覇', '長崎', '長野',
       '青森', '高松', '高知', '鹿児島'], dtype='<U3')

In [28]:
#for a in splited_area:
#    train_fold[a] = [a in b for b in train_fold.area]
#train_fold

In [29]:
#for a in splited_area:
#    test[a] = [a in b for b in test.area]
#test

In [30]:
train_fold.loc[lambda x: x.kind=='いんげん']

Empty DataFrame
Columns: [kind, date, amount, mode_price, area, year, weekno, month, mean_mean_temp_lag0, max_mean_temp_lag0, min_mean_temp_lag0, mean_max_temp_lag0, max_max_temp_lag0, min_max_temp_lag0, mean_min_temp_lag0, max_min_temp_lag0, min_min_temp_lag0, mean_sum_rain_lag0, max_sum_rain_lag0, min_sum_rain_lag0, mean_sun_time_lag0, max_sun_time_lag0, min_sun_time_lag0, mean_mean_humid_lag0, max_mean_humid_lag0, min_mean_humid_lag0, mean_mean_temp_lag1, max_mean_temp_lag1, min_mean_temp_lag1, mean_max_temp_lag1, max_max_temp_lag1, min_max_temp_lag1, mean_min_temp_lag1, max_min_temp_lag1, min_min_temp_lag1, mean_sum_rain_lag1, max_sum_rain_lag1, min_sum_rain_lag1, mean_sun_time_lag1, max_sun_time_lag1, min_sun_time_lag1, mean_mean_humid_lag1, max_mean_humid_lag1, min_mean_humid_lag1, mean_mean_temp_lag2, max_mean_temp_lag2, min_mean_temp_lag2, mean_max_temp_lag2, max_max_temp_lag2, min_max_temp_lag2, mean_min_temp_lag2, max_min_temp_lag2, min_min_temp_lag2, mean_sum_rain_lag2, max_sum_rain_lag2, min_sum_rain_lag2, mean_sun_time_lag2, max_sun_time_lag2, min_sun_time_lag2, mean_mean_humid_lag2, max_mean_humid_lag2, min_mean_humid_lag2, mean_mean_temp_lag3, max_mean_temp_lag3, min_mean_temp_lag3, mean_max_temp_lag3, max_max_temp_lag3, min_max_temp_lag3, mean_min_temp_lag3, max_min_temp_lag3, min_min_temp_lag3, mean_sum_rain_lag3, max_sum_rain_lag3, min_sum_rain_lag3, mean_sun_time_lag3, max_sun_time_lag3, min_sun_time_lag3, mean_mean_humid_lag3, max_mean_humid_lag3, min_mean_humid_lag3, mean_mean_temp_lag6, max_mean_temp_lag6, min_mean_temp_lag6, mean_max_temp_lag6, max_max_temp_lag6, min_max_temp_lag6, mean_min_temp_lag6, max_min_temp_lag6, min_min_temp_lag6, mean_sum_rain_lag6, max_sum_rain_lag6, min_sum_rain_lag6, mean_sun_time_lag6, max_sun_time_lag6, min_sun_time_lag6, mean_mean_humid_lag6, max_mean_humid_lag6, min_mean_humid_lag6, mean_mean_temp_lag9, max_mean_temp_lag9, ...]
Index: []

[0 rows x 137 columns]

In [31]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train_fold['kind_le'] = le.fit_transform(train_fold.kind)
test['kind_le'] = le.transform(test.kind)
#train_fold['area_le'] = le.fit_transform(train_fold.area, test.area)
#test['area_le'] = le.transform(test.area)

In [32]:
test

,kind,date,amount,mode_price,area,year,weekno,month,mean_mean_temp_lag0,max_mean_temp_lag0,...,min_sum_rain_lag12,mean_sun_time_lag12,max_sun_time_lag12,min_sun_time_lag12,mean_mean_humid_lag12,max_mean_humid_lag12,min_mean_humid_lag12,mode_price_30days_ago,mode_price_365days_ago,kind_le
0,だいこん,2022-11-01,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000,4
1,だいこん,2022-11-02,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000,4
2,だいこん,2022-11-04,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000,4
3,だいこん,2022-11-05,NaN,NaN,千葉_全国_横浜,2022,44,11,17.937923,24.811458,...,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000,4
4,だいこん,2022-11-07,NaN,NaN,千葉_全国_横浜,2022,45,11,17.937923,24.811458,...,0.0,4.802148,10.768750,0.0,71.733724,91.343750,53.177083,984.857143,648.000000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,ミニトマト,2022-11-24,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182,13
311,ミニトマト,2022-11-25,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182,13
312,ミニトマト,2022-11-26,NaN,NaN,全国_名古屋,2022,47,11,18.239697,24.617188,...,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182,13
313,ミニトマト,2022-11-28,NaN,NaN,全国_名古屋,2022,48,11,18.239697,24.617188,...,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182,13
314,ミニトマト,2022-11-29,NaN,NaN,全国_名古屋,2022,48,11,18.239697,24.617188,...,0.0,5.936035,11.003125,0.0,68.819336,94.015625,49.265625,187.809524,144.068182,13

In [33]:
train_fold.columns

Index(['kind', 'date', 'amount', 'mode_price', 'area', 'year', 'weekno',
       'month', 'mean_mean_temp_lag0', 'max_mean_temp_lag0',
       ...
       'mean_sun_time_lag12', 'max_sun_time_lag12', 'min_sun_time_lag12',
       'mean_mean_humid_lag12', 'max_mean_humid_lag12', 'min_mean_humid_lag12',
       'mode_price_30days_ago', 'mode_price_365days_ago', 'fold', 'kind_le'],
      dtype='object', length=138)

In [34]:
test.columns

Index(['kind', 'date', 'amount', 'mode_price', 'area', 'year', 'weekno',
       'month', 'mean_mean_temp_lag0', 'max_mean_temp_lag0',
       ...
       'min_sum_rain_lag12', 'mean_sun_time_lag12', 'max_sun_time_lag12',
       'min_sun_time_lag12', 'mean_mean_humid_lag12', 'max_mean_humid_lag12',
       'min_mean_humid_lag12', 'mode_price_30days_ago',
       'mode_price_365days_ago', 'kind_le'],
      dtype='object', length=137)

In [35]:
import lightgbm as lgb

In [36]:
seed = 1234

params = {
    'boosting_type': 'gbdt',
    'metric': 'None',
    'objective': 'regression',
    'seed': seed,
    'learning_rate': 0.007,
}

In [37]:
import numpy as np

def rmspe(y_true, y_pred):
    return np.sqrt(np.mean(np.square((y_true - y_pred) / y_true)))

def feval_rmspe(y_pred, lgb_train):
    y_true = lgb_train.get_label()
    return 'RMSPE', rmspe(y_true, y_pred), False

In [38]:
target = 'mode_price'
pred_train = np.zeros(len(train_fold))
pred_test = []
for fold in range(n_splits):
    print(f'---- {fold} ----')
    drop_cols = ['kind', 'area', 'date', 'amount']#, 'area_le']
    train_X = train_fold.drop(drop_cols, axis=1).loc[lambda x: x.fold!=fold].drop('fold', axis=1)
    train_y = train_X.pop(target)
    valid_X = train_fold.drop(drop_cols, axis=1).loc[lambda x: x.fold==fold].drop('fold', axis=1)
    valid_y = valid_X.pop(target)
    train_w = 1 / np.square(train_y)
    valid_w = 1 / np.square(valid_y)
    feature_name = train_X.columns.tolist()
    train = lgb.Dataset(
        data=train_X,
        label=train_y,
        feature_name=feature_name,
        weight = train_w,
    )
    valid = lgb.Dataset(
        data=valid_X,
        label=valid_y,
        feature_name=feature_name,
        weight = valid_w,
    )
    model = lgb.train(
        params,
        train,
        valid_sets = [valid],
        num_boost_round = 1000,
        verbose_eval = 100,
        early_stopping_rounds = 100,
        feval = feval_rmspe,
	)
    pred_train[train_fold.fold==fold] = model.predict(valid_X)
    pred_test.append(model.predict(test[feature_name]))

---- 0 ----
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.071725 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 29733
[LightGBM] [Info] Number of data points in the train set: 108290, number of used features: 132
[LightGBM] [Info] Start training from score 109.760768
Training until validation scores don't improve for 100 rounds
[100]	valid_0's RMSPE: 0.488466
[200]	valid_0's RMSPE: 0.343305
[300]	valid_0's RMSPE: 0.29024
[400]	valid_0's RMSPE: 0.270924
[500]	valid_0's RMSPE: 0.264942
[600]	valid_0's RMSPE: 0.262361
[700]	valid_0's RMSPE: 0.26178
[800]	valid_0's RMSPE: 0.261663
Early stopping, best iteration is:
[749]	valid_0's RMSPE: 0.261472
---- 1 ----
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.065708 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 29713
[LightGBM] [Info] Number of data points in the train set: 108290, number of used features: 132
[LightGBM] [Info] Start training from score 107.072764
Training until validation scores don't improve for 100 rounds
[100]	valid_0's RMSPE: 0.465306
[200]	valid_0's RMSPE: 0.319503
[300]	valid_0's RMSPE: 0.268591
[400]	valid_0's RMSPE: 0.255945
[500]	valid_0's RMSPE: 0.252529
[600]	valid_0's RMSPE: 0.252023
[700]	valid_0's RMSPE: 0.252802
Early stopping, best iteration is:
[604]	valid_0's RMSPE: 0.251991
---- 2 ----
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.050823 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 29608
[LightGBM] [Info] Number of data points in the train set: 108345, number of used features: 132
[LightGBM] [Info] Start training from score 108.679755
Training until validation scores don't improve for 100 rounds
[100]	valid_0's RMSPE: 0.449279
[200]	valid_0's RMSPE: 0.304139
[300]	valid_0's RMSPE: 0.260032
[400]	valid_0's RMSPE: 0.250744
[500]	valid_0's RMSPE: 0.250744
Early stopping, best iteration is:
[457]	valid_0's RMSPE: 0.249979
---- 3 ----
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.117554 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 29684
[LightGBM] [Info] Number of data points in the train set: 108345, number of used features: 132
[LightGBM] [Info] Start training from score 106.813536
Training until validation scores don't improve for 100 rounds
[100]	valid_0's RMSPE: 0.45064
[200]	valid_0's RMSPE: 0.31792
[300]	valid_0's RMSPE: 0.280694
[400]	valid_0's RMSPE: 0.273076
[500]	valid_0's RMSPE: 0.273133
Early stopping, best iteration is:
[424]	valid_0's RMSPE: 0.272796
---- 4 ----
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.050337 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 29678
[LightGBM] [Info] Number of data points in the train set: 108350, number of used features: 132
[LightGBM] [Info] Start training from score 109.548711
Training until validation scores don't improve for 100 rounds
[100]	valid_0's RMSPE: 0.465539
[200]	valid_0's RMSPE: 0.335513
[300]	valid_0's RMSPE: 0.292892
[400]	valid_0's RMSPE: 0.280388
[500]	valid_0's RMSPE: 0.278223
Early stopping, best iteration is:
[485]	valid_0's RMSPE: 0.278068

In [39]:
train_fold.kind.unique()

array(['だいこん', 'にんじん', 'キャベツ', 'レタス', 'はくさい', 'ほうれんそう', 'ねぎ', 'きゅうり',
       'かぼちゃ', 'トマト', 'ピーマン', 'さといも', 'たまねぎ', 'なましいたけ', 'ミニトマト'],
      dtype=object)

In [40]:
test.kind.unique()

array(['だいこん', 'にんじん', 'キャベツ', 'レタス', 'はくさい', 'ほうれんそう', 'ねぎ', 'きゅうり',
       'かぼちゃ', 'トマト', 'ピーマン', 'さといも', 'たまねぎ', 'なましいたけ', 'ミニトマト'],
      dtype=object)

In [41]:
train_fold.groupby('kind')['date'].agg(['min', 'max', 'count'])

              min        max  count
kind
かぼちゃ   2015-06-01 2022-10-31   8170
きゅうり   2015-06-01 2022-10-31   9585
さといも   2015-09-01 2022-10-31   5275
たまねぎ   2015-06-01 2022-10-31   9575
だいこん   2015-06-01 2022-10-31   9585
なましいたけ 2015-09-01 2022-10-31   6950
にんじん   2015-06-01 2022-10-31   9585
ねぎ     2015-06-01 2022-10-31   9585
はくさい   2015-06-01 2022-10-31   9585
ほうれんそう 2015-06-01 2022-10-31   9585
キャベツ   2015-06-01 2022-10-31   9585
トマト    2015-06-01 2022-10-31   9585
ピーマン   2015-06-01 2022-10-31   9585
ミニトマト  2015-06-01 2022-10-31   9585
レタス    2015-06-01 2022-10-31   9585

In [42]:
test.groupby('kind')['date'].agg(['min', 'max', 'count'])

              min        max  count
kind
かぼちゃ   2022-11-01 2022-11-29     21
きゅうり   2022-11-01 2022-11-29     21
さといも   2022-11-01 2022-11-29     21
たまねぎ   2022-11-01 2022-11-29     21
だいこん   2022-11-01 2022-11-29     21
なましいたけ 2022-11-01 2022-11-29     21
にんじん   2022-11-01 2022-11-29     21
ねぎ     2022-11-01 2022-11-29     21
はくさい   2022-11-01 2022-11-29     21
ほうれんそう 2022-11-01 2022-11-29     21
キャベツ   2022-11-01 2022-11-29     21
トマト    2022-11-01 2022-11-29     21
ピーマン   2022-11-01 2022-11-29     21
ミニトマト  2022-11-01 2022-11-29     21
レタス    2022-11-01 2022-11-29     21

In [43]:
train_fold['pred'] = pred_train
train_fold

,kind,date,amount,mode_price,area,year,weekno,month,mean_mean_temp_lag0,max_mean_temp_lag0,...,max_sun_time_lag12,min_sun_time_lag12,mean_mean_humid_lag12,max_mean_humid_lag12,min_mean_humid_lag12,mode_price_30days_ago,mode_price_365days_ago,fold,kind_le,pred
2585,だいこん,2015-06-01,175714.0,864.0,千葉_青森,2015,23,6,18.050000,22.900000,...,13.150000,0.000000,65.516129,86.500000,42.500000,1141.714286,826.071429,0,4,926.779345
2586,だいこん,2015-06-02,167112.0,756.0,千葉_青森,2015,23,6,18.050000,22.900000,...,13.150000,0.000000,65.516129,86.500000,42.500000,1141.714286,826.071429,0,4,926.779345
2587,だいこん,2015-06-04,202752.0,891.0,千葉_青森,2015,23,6,18.050000,22.900000,...,13.150000,0.000000,65.516129,86.500000,42.500000,1141.714286,826.071429,0,4,926.779345
2588,だいこん,2015-06-05,142763.0,648.0,千葉_全国_青森,2015,23,6,18.660450,23.346875,...,13.155208,0.007292,64.958333,86.947917,42.270833,1141.714286,826.071429,0,4,970.422710
2589,だいこん,2015-06-06,174205.0,810.0,千葉_青森,2015,23,6,18.050000,22.900000,...,13.150000,0.000000,65.516129,86.500000,42.500000,1141.714286,826.071429,0,4,926.779345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77531,ミニトマト,2022-10-25,22558.0,194.0,全国,2022,43,10,24.553528,28.603125,...,11.390625,0.000000,77.218246,93.437500,61.000000,193.454545,137.500000,4,13,159.415784
77532,ミニトマト,2022-10-27,52938.0,184.0,全国,2022,43,10,24.553528,28.603125,...,11.390625,0.000000,77.218246,93.437500,61.000000,193.454545,137.500000,4,13,159.415784
77533,ミニトマト,2022-10-28,28493.0,194.0,全国,2022,43,10,24.553528,28.603125,...,11.390625,0.000000,77.218246,93.437500,61.000000,193.454545,137.500000,4,13,159.415784
77534,ミニトマト,2022-10-29,43183.0,184.0,全国,2022,43,10,24.553528,28.603125,...,11.390625,0.000000,77.218246,93.437500,61.000000,193.454545,137.500000,4,13,159.415784
77535,ミニトマト,2022-10-31,58141.0,184.0,全国,2022,44,10,24.553528,28.603125,...,11.390625,0.000000,77.218246,93.437500,61.000000,193.454545,137.500000,4,13,159.415784

In [44]:
rmspe(train_fold.mode_price, train_fold.pred)

0.26308973926481966

In [45]:
for k in train_fold.kind.unique():
    print(k, len(test[lambda x: x.kind==k]), rmspe(train_fold.loc[lambda x: x.kind==k, 'mode_price'], train_fold.loc[lambda x: x.kind==k, 'pred']))

だいこん 21 0.2528929285935912
にんじん 21 0.2803284728376345
キャベツ 21 0.2607938917288505
レタス 21 0.3360269640275912
はくさい 21 0.3550003685566383
ほうれんそう 21 0.24096344933845104
ねぎ 21 0.24614294141519777
きゅうり 21 0.2209209691835069
かぼちゃ 21 0.31440043918405336
トマト 21 0.2267761279600546
ピーマン 21 0.23849934130288997
さといも 21 0.263487366386129
たまねぎ 21 0.2567044941354331
なましいたけ 21 0.14490428412903053
ミニトマト 21 0.22142237793052

In [46]:
for m in train_fold.month.unique():
    print(m, len(test[lambda x: x.month==m]), rmspe(train_fold.loc[lambda x: x.month==m, 'mode_price'], train_fold.loc[lambda x: x.month==m, 'pred']))

6 0 0.23333680325259562
7 0 0.266081393946801
8 0 0.2861304978336067
9 0 0.28137646920864096
10 0 0.2973043259629376
11 315 0.2978691160389528
12 0 0.24479481028234015
1 0 0.24378084159498317
2 0 0.22945858907002106
3 0 0.23570122014104017
4 0 0.2683075831615478
5 0 0.24450903537916252